
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/rateMovie.css" />


<body class="bg-info">

    <div id="apiDiv">

        <div id="movieTitle" class="h2">Tell us your opinion :)</div>
        <div class="col-xs-12">
            <textarea class="form-control" id="opinionArea" rows="3"></textarea>
            <button id="submitOpinion">Send</button>
        </div>

        <div id="bottomLinks">
            <div class="getMovie"><a href="@Url.Action("GetMovie", "Home")">Back to the selected movie</a></div>
            <div class="return"><a href="@Url.Action("Index", "Home")">Back to movies list</a></div>
        </div>
    </div>

</body>